<app-language-switcher></app-language-switcher>

<div class="col-md-6 col-md-offset-3">
    <h2>{{ 'register' | translate }}</h2>
    <form [formGroup]="reactiveForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="firstname">{{ 'firstName' | translate }}</label>
            <input type="text" class="form-control col-md-5" name="firstname" formControlName="firstname" />
            <div *ngIf="isControlInvalid(reactiveForm.value.firstname)" class="error">First Name is required</div>
        </div>
        <div class="form-group">
            <label for="lastname">{{ 'lastName' | translate }}</label>
            <input type="text" class="form-control col-md-5" name="lastname" formControlName="lastname" />
            <div *ngIf="isControlInvalid(reactiveForm.value.lastname)" class="error">Last Name is required</div>
        </div>
        <div class="form-group">
            <label for="email">{{ 'email' | translate }}</label>
            <input type="text" class="form-control col-md-5" name="email" formControlName="email" />
            <div *ngIf="isControlInvalid(reactiveForm.value.email)" class="error">Email is required</div>
        </div>
        <div class="form-group">
            <label for="username">{{ 'userName' | translate }}</label>
            <input type="text" class="form-control col-md-5" name="username" formControlName="username" />
            <div *ngIf="isControlInvalid(reactiveForm.value.username)" class="error">Username is required</div>
        </div>
        <div class="form-group">
            <label for="password">{{ 'password' | translate }}</label>
            <input type="password" class="form-control col-md-5" name="password" formControlName="password" />
            <div *ngIf="isControlInvalid(reactiveForm.value.password)" class="error">Password is required</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'register' | translate }}</button>
            <a [routerLink]="['/login']" class="btn btn-link">{{ 'cancel' | translate }}</a>
        </div>   
    </form>
</div>  
