.header-div {
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 98%;
    margin-left: 1%;
    padding: 5px;
}
.user-name-div {
    display: inline-flex;
}
.change-lang-btn {
    float: right;
}