<div class="header-div">
  <div class="user-name-div">
    <h2>{{currentUser.user_name}}</h2>
    <div *ngIf="isUserGuest; else logoutTemplate">
      <a [routerLink]="['/login']" class="btn btn-link">Login</a>
    </div>
    <ng-template #logoutTemplate>
      <button class="btn btn-link" (click)="logout()">Logout</button>
    </ng-template>
  </div>
  <div class="change-lang-btn">
    <app-language-switcher></app-language-switcher>
  </div>
</div>
