<div>
    <button [ngClass]="this.currentGenre === genreType.Popular ? 'btn-primary btn' : 'btn'" 
      (click)="clickGenreBtn(genreType.Popular)">{{ 'popular' | translate }}</button>
    <button [ngClass]="this.currentGenre === genreType.Action ? 'btn-primary btn' : 'btn'" 
      (click)="clickGenreBtn(genreType.Action)">{{ 'action' | translate }}</button>
    <button [ngClass]="this.currentGenre === genreType.Adventure ? 'btn-primary btn' : 'btn'" 
      (click)="clickGenreBtn(genreType.Adventure)">{{ 'adventure' | translate }}</button>
    <button [ngClass]="this.currentGenre === genreType.Animation ? 'btn-primary btn' : 'btn'" 
      (click)="clickGenreBtn(genreType.Animation)">{{ 'animation' | translate }}</button>
    <button [ngClass]="this.currentGenre === genreType.Comedy ? 'btn-primary btn' : 'btn'" 
      (click)="clickGenreBtn(genreType.Comedy)">{{ 'comedy' | translate }}</button>
</div>