<div class="row">
  <div class="col-md-2">
    <img src="{{movie.srcImgForPoster}}" alt="img" class="poster-img" />
  </div>
  <div class="col-md-6">
    <div>
      <span>{{movie.title}}</span>
    </div>

    <app-vote [voteNumber] = "movie.voteAverage"></app-vote>
    
    <div *ngIf="isNotGuest">
      <input type="checkbox" [checked]="isForWatch" (change)="onChangeIsForWatch()" />
      <label>{{ 'in_watch_list' | translate }}</label>
    </div>
  </div>
  <div class="col-md-1">
      <button class="btn btn-outline-primary" (click)="movieDetails.clickShowDetails()">\/</button>
  </div>
</div>
<app-movie-details #movieDetails [movieId]="movie.id"></app-movie-details>