<div class="main-div">
  <div class="col-md-3 genre-div">
    <app-movies-genre></app-movies-genre>
  </div>
  
  <div class="col-md-8">
    <input type="text" class="form-control col-md-5 filter-txt" placeholder="filter by title"
      (input)="filterByTitle($event.target.value)" />

    <button [ngClass]="this.currentMovieSort === movieSortType.RatingDown ? 'btn-primary btn' : 'btn'" 
      (click)="clickSortBtn(sortByRatingDown(), movieSortType.RatingDown)">{{ 'byRatingDown' | translate }}</button>
    <button [ngClass]="this.currentMovieSort === movieSortType.RatingUp ? 'btn-primary btn' : 'btn'"
      (click)="clickSortBtn(sortByRatingUp(), movieSortType.RatingUp)">{{ 'byRatingUp' | translate }}</button>
    <button [ngClass]="this.currentMovieSort === movieSortType.YearUp ? 'btn-primary btn' : 'btn'"
      (click)="clickSortBtn(sortByYearUp(), movieSortType.YearUp)">{{ 'byYearUp' | translate }}</button>
    <button [ngClass]="this.currentMovieSort === movieSortType.YearDown ? 'btn-primary btn' : 'btn'"
      (click)="clickSortBtn(sortByYearDown(), movieSortType.YearDown)">{{ 'byYearDown' | translate }}</button>
  
  <br />
  
  <div class="container">
    <app-movie *ngFor="let movie of showMovies" [movie]="movie" ></app-movie>
  </div>
  </div>
</div>
