<div *ngIf="isShowDetails">
  <div><span>{{ 'budget' | translate }}: $</span>{{movieDetails.budget}}</div>
  <div><span>{{ 'revenue' | translate }}: $</span>{{movieDetails.revenue}}</div>
  <div><span>{{ 'overview' | translate }}: </span>{{movieDetails.overview}}</div>
  <div><span>{{ 'runtime' | translate }}: </span>{{movieDetails.runtime}}</div>
</div>