<app-language-switcher></app-language-switcher>

<div class="col-md-6 col-md-offset-3">
    <h2>{{ 'login' | translate }}</h2>
    <form [formGroup]="myFirstReactiveForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="username">{{ 'userName' | translate }}</label>
            <input type="text" class="form-control col-md-5" name="username" formControlName="username" />
            <div *ngIf="isControlInvalid(myFirstReactiveForm.value.username)" class="error">Username is required</div>
        </div>
        <div class="form-group">
            <label for="password">{{ 'password' | translate }}</label>
            <input type="password" class="form-control col-md-5" name="password" formControlName="password" />
            <div *ngIf="isControlInvalid(myFirstReactiveForm.value.password)" class="error">Password is required</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'loginBtn' | translate }}</button>
            <a [routerLink]="['/register']" class="btn btn-link">{{ 'register' | translate }}</a>
        </div>   
    </form>
    <div *ngIf="errorMessage != null" class="error">
        {{ errorMessage }}
    </div>
</div>  

<!-- for debag <div> {{myFirstReactiveForm.value | json}} </div> -->
